/* File: client/src/assets/css/common/Form.module.css */

/* AUTH SECTION BACKGROUND */
.authSection {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  background: transparent;
}

/* CENTERED FORM CONTAINER */
.authContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

/* LARGE PAGE HEADER */
.pageTitle {
  font-size: 2.25rem; /* text-4xl */
  font-weight: bold;
  letter-spacing: 0.1em; /* tracking-widest */
}

/* SUBHEADER FOR PAGES */
.pageSubtitle {
  font-size: 1.5rem; /* text-2xl */
  font-weight: bold;
  letter-spacing: 0.05em; /* tracking-wider */
}

/* FORM BOX */
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  background: rgba(255, 255, 255, 0.01); /* semi-transparent white */
  backdrop-filter: blur(12px);          /* frosted glass effect */
  -webkit-backdrop-filter: blur(12px);  /* Safari support */

  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  width: fit-content;
  max-width: 90vw;
  margin: 0 auto;

  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.5s ease-in-out;
}

/* INPUT STYLING */
.input {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: white;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;

  font-size: 1rem;
  outline: none;

  transition: 0.3s;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.input:focus {
  border-color: #818cf8; /* indigo-400 */
  box-shadow: 0 0 0 2px rgba(129, 140, 248, 0.5);
}

/* FORM LINK TEXT */
.linkText {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  cursor: pointer;
}

/* ERROR MESSAGE */
.error {
  color: #dc2626;
  font-size: 0.875rem;
  text-align: center;
}

/* WHITE TEXT */

.whiteText {
  color: white;
}

.whiteText label,
.whiteText p,
.whiteText h2,
.whiteText strong {
  color: white;
}

/* LOGIN / REGISTER  */

.disclaimerText {
  color: white;
  line-height: 1.5;
}

.disclaimerLink {
  margin: 0 0.25rem;
  color: white;
  text-decoration: none;
}

.disclaimerLink:hover {
  color: #fff8e7;
}

.loginLink {
  margin-left: 0.25rem;
  color: white;
  text-decoration: none;
}

.loginLink:hover {
  color: #fff8e7;
}

