/* File: client/src/assets/css/dashboard/PomodoroTimer.module.css */

.timerBox {
  background-color: rgba(26, 26, 46, 0.8); /* semi-transparent */
  backdrop-filter: blur(6px); /* frosted glass effect */
  -webkit-backdrop-filter: blur(6px);

  
  color: #5f3c78;
  padding: 1.5rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
  width: 18rem;
  margin-bottom: 2rem;
}

.timerDisplay {
  font-size: 2.5rem;
  font-family: 'Courier New', monospace;
  margin-bottom: 1rem;
}

.taskBox {
  background-color: rgba(15, 23, 42, 0.75);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  width: 18rem;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

.taskList {
  margin-top: 0.75rem;
}

.taskItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(30, 41, 59, 0.7);
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.selected {
  background-color: #2a4576;
}

.completed {
  text-decoration: line-through;
  color: #af71afdc;
}

.addTaskInput {
  padding: 0.25rem;
  border-radius: 0.25rem;
  flex: 1;
  margin-right: 0.5rem;
}

.buttonGroup button {
  margin: 0 0.25rem;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  background-color: #b98dff;
  color: #ffffff;
}

.progressRing {
  width: 40vw;
  height: 40vw;
  margin: 1rem auto;
  position: relative;
}

.ringSvg {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.ringBackground {
  fill: none;
  stroke: #ffffff;
  stroke-width: 10;
}

.ringProgress {
  fill: none;
  stroke: #3abbbd;
  stroke-width: 10;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s linear;
}

.ringText {
  fill: #7e4287;
  font-size: 1.2rem;
  dominant-baseline: middle;
  transform: rotate(90deg);
  font-family: monospace;
}

 .timerContainer {
  background-color: rgba(26, 26, 46, 0.8);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  
}

.taskContainer {
  background-color: rgba(15, 23, 42, 0.75);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
 
}

.header {
  font-size: 1.25rem;
  color: #ffffff;
  margin-bottom: 0.75rem;
  text-align: center;
}

.inputGroup {
  display: flex;
  margin-bottom: 1rem;
}

.input {
  padding: 0.5rem;
  border-radius: 0.375rem;
  flex: 1;
  margin-right: 0.5rem;
  border: none;
  outline: none;
}

.addButton {
  background-color: #3abbbd;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  border: none;
}

.deleteButton {
  background: none;
  border: none;
  color: #af71afdc;
  font-size: 1rem;
  cursor: pointer;
}